.leftPanelOverride {
  background-color: rgb(128, 218, 240);
  width: 400px;
  transition: 3s ease-in-out;
}
.rightPanelOverride {
  background-color: rgb(240, 128, 128);
  width: 400px;
  transition: 3s ease-in-out;
}

.subpanelOverride {
  background-color: rgb(128, 240, 128);
  width: 400px;
  transition: 3s ease-in-out;
}
